Olli_Recalli.txt
[{"id":"dd01668d.85fd3","type":"ibmiot in","z":"96f39f3b.fb2d68","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"RaspberryPi","applicationId":"","deviceType":"Raspberry_Pi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":123,"y":81,"wires":[["ce2d5ea8.065718"]]},{"id":"f9005ce1.764da8","type":"visual-recognition-v3","z":"96f39f3b.fb2d68","name":"","apikey":"227b3b7de5996e33c09bc3f7b6e325d5fd01e094","image-feature":"classifyImage","lang":"en","x":386.5,"y":273,"wires":[["d13e6ee9.120fc8","f260fcdf.424958"]]},{"id":"d13e6ee9.120fc8","type":"function","z":"96f39f3b.fb2d68","name":"ExamineImage","func":"var image_text = msg.result.images[0].text;\nmsg.payload = image_text;\nconsole.log(msg.payload);\n//var msg_all = msg.payload.split();\nvar bestcolor = 0;\nvar score = 0;\n//msg.payload = msg.result.images[0].classifiers[0].classes.length;\n\nfor( i =0; i<(msg.result.images[0].classifiers[0].classes.length); i++ ){\n  var object = msg.result.images[0].classifiers[0].classes[i].class;\n  if ( object.includes(\"color\") ) {\n    if( msg.result.images[0].classifiers[0].classes[i].score > score){\n        bestcolor = i;\n        score = msg.result.images[0].classifiers[0].classes[i].score;\n    }\n  }\n}\nvar bestItem = 0;\nvar itemScore = 0;\nfor( i =0; i<(msg.result.images[0].classifiers[0].classes.length); i++ ){\n  var object = msg.result.images[0].classifiers[0].classes[i].class;\n  if ( !object.includes(\"color\") ) {\n    if( msg.result.images[0].classifiers[0].classes[i].score > itemScore){\n        bestItem = i;\n        itemScore =  msg.result.images[0].classifiers[0].classes[i].score;\n    }\n  }\n}\nvar item = msg.result.images[0].classifiers[0].classes[bestcolor].class + \" \" + msg.result.images[0].classifiers[0].classes[bestItem].class;\nvar say = \"\";\nvar emptyFloor = \"stucco\";\nvar seatNum = 1; //intend to add variable from arduino info later\n\nif(item.includes(\"stucco\") || item.includes(\"plaster\")){\n    //we found an empty floor, don't report\n    say = \"Thank you for riding Olly. Have a nice day!\";\n}\nelse{\n    say = \"Attention Passengers of Olly: There is a \";\n    say += item;\n    say += \" unattented underneath seat number \" + seatNum.toString() +\".\"; \n}\n\nmsg.payload =  say;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":397.5,"y":379,"wires":[["4508844c.d1349c","ccdfdd28.8032a8"]]},{"id":"492130b9.871688","type":"debug","z":"96f39f3b.fb2d68","name":"","active":false,"console":"false","complete":"false","x":596.5,"y":221,"wires":[]},{"id":"f260fcdf.424958","type":"debug","z":"96f39f3b.fb2d68","name":"","active":false,"console":"false","complete":"false","x":581.5,"y":288,"wires":[]},{"id":"4508844c.d1349c","type":"debug","z":"96f39f3b.fb2d68","name":"","active":false,"console":"false","complete":"false","x":593.5,"y":368,"wires":[]},{"id":"c9312932.545f1","type":"inject","z":"96f39f3b.fb2d68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.5,"y":214,"wires":[["1acce79b.905a3"]]},{"id":"1acce79b.905a3","type":"dropbox","z":"96f39f3b.fb2d68","dropbox":"","filename":"test_pix.jpg","name":"Image","x":452.5,"y":176,"wires":[["492130b9.871688","f9005ce1.764da8"]]},{"id":"af1b9fe9.29aab","type":"play audio","z":"96f39f3b.fb2d68","name":"","voice":"0","x":506.5,"y":472,"wires":[]},{"id":"ccdfdd28.8032a8","type":"watson-text-to-speech","z":"96f39f3b.fb2d68","name":"Text to Speech","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonVoice","voicehidden":"","format":"audio/wav","password":"OiLsH0PE0tVX","x":283.5,"y":469,"wires":[["af1b9fe9.29aab"]]},{"id":"ce2d5ea8.065718","type":"function","z":"96f39f3b.fb2d68","name":"takePicture","func":"var temp = msg.payload;\nif(temp.d.picTake){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":296.5,"y":115,"wires":[["6519da6f.43e17c","1acce79b.905a3"]]},{"id":"6519da6f.43e17c","type":"debug","z":"96f39f3b.fb2d68","name":"","active":false,"console":"false","complete":"false","x":485.5,"y":97,"wires":[]}]
