Olli_Watson_Image_Reecognition_Voice.txt
[{"id":"552ea2d1.f9cdbc","type":"function","z":"f1ae23b.00dbde","name":"Split Descriptions","func":"var image_text = msg.result.images[0].text;\nmsg.payload = image_text;\nconsole.log(msg.payload);\n//var msg_all = msg.payload.split();\nvar bestcolor = 0;\nvar score = 0;\n//msg.payload = msg.result.images[0].classifiers[0].classes.length;\n\nfor( i =0; i<(msg.result.images[0].classifiers[0].classes.length); i++ ){\n  var object = msg.result.images[0].classifiers[0].classes[i].class;\n  if ( object.includes(\"color\") ) {\n    if( msg.result.images[0].classifiers[0].classes[i].score > score){\n        bestcolor = i;\n        score =  msg.result.images[0].classifiers[0].classes[i].score;\n    }\n  }\n}\nvar bestItem = 0;\nvar itemScore = 0;\nfor( i =0; i<(msg.result.images[0].classifiers[0].classes.length); i++ ){\n  var object = msg.result.images[0].classifiers[0].classes[i].class;\n  if ( !object.includes(\"color\") ) {\n    if( msg.result.images[0].classifiers[0].classes[i].score > itemScore){\n        bestItem = i;\n        itemScore =  msg.result.images[0].classifiers[0].classes[i].score;\n    }\n  }\n}\nvar say = \"Attention Passengers of Olly: There is a \";\nsay += msg.result.images[0].classifiers[0].classes[bestcolor].class;\nsay += \" \" + msg.result.images[0].classifiers[0].classes[bestItem].class;\nsay += \" Unattented underneath seat number 5\";\nmsg.payload =  say;\nreturn msg;\n/**\nvar color_msg = [];//the array of all color tags\nvar item_msg = [];//the array of all color tags\n\nfor (var aMsg in msg_all){//check each tag\n    if(aMsg.includes(\"color\")){\n        color_msg.add(aMsg);//add colors to the color tag\n    }\n    else{\n        item_msg.add(aMsg);//add colors to the color tag\n    }\n}\n//now we've separated th!e colors and itmes!\n\ncolor_msg.toString();\nnode.send({payload:color_msg});\n**/","outputs":1,"noerr":0,"x":290,"y":240,"wires":[["1997a63.a07a8da","d3a406bb.cf6368"]]},{"id":"1997a63.a07a8da","type":"watson-text-to-speech","z":"f1ae23b.00dbde","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonVoice","voicehidden":"","format":"audio/wav","password":"","x":280,"y":320,"wires":[["32b9acd5.d00754"]]},{"id":"32b9acd5.d00754","type":"play audio","z":"f1ae23b.00dbde","name":"","voice":"1","x":570,"y":320,"wires":[]},{"id":"d518184d.7524b","type":"debug","z":"f1ae23b.00dbde","name":"","active":true,"console":"false","complete":"payload","x":570,"y":80,"wires":[]},{"id":"45206abc.09dd44","type":"inject","z":"f1ae23b.00dbde","name":"","topic":"","payload":"http://www.fantasyard.com/images/detailed/12/T501_5KS_front.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":80,"wires":[["d518184d.7524b","e2ee560d.8c6ec8"]]},{"id":"e2ee560d.8c6ec8","type":"visual-recognition-v3","z":"f1ae23b.00dbde","name":"","apikey":"","image-feature":"classifyImage","lang":"en","x":290,"y":160,"wires":[["85327268.1ab42","552ea2d1.f9cdbc"]]},{"id":"85327268.1ab42","type":"debug","z":"f1ae23b.00dbde","name":"","active":true,"console":"false","complete":"result","x":570,"y":160,"wires":[]},{"id":"d3a406bb.cf6368","type":"debug","z":"f1ae23b.00dbde","name":"","active":true,"console":"false","complete":"false","x":570,"y":240,"wires":[]}]