RasPi.txt
[{"id":"90bbd505.7d95b8","type":"serial in","z":"1fff5cc9.b36253","name":"","serial":"9b8b34ab.3fde68","x":90,"y":120,"wires":[["db0230fd.10da9"]]},{"id":"db0230fd.10da9","type":"camerapi-takephoto","z":"1fff5cc9.b36253","filemode":"2","filename":"","filedefpath":"0","filepath":"","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"","x":290,"y":120,"wires":[["c28a63e4.9ba47","1be503f1.d132dc"]]},{"id":"c28a63e4.9ba47","type":"change","z":"1fff5cc9.b36253","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"picTaken\":\"yes\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":220,"wires":[["b07ddcb3.814de"]]},{"id":"1be503f1.d132dc","type":"dropbox out","z":"1fff5cc9.b36253","dropbox":"","filename":"","localFilename":"/home/pi/Pictures/test_pix.jpg","name":"","x":540,"y":120,"wires":[]},{"id":"b07ddcb3.814de","type":"wiotp out","z":"1fff5cc9.b36253","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"bcafa9aa.75b588","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":470,"y":220,"wires":[]},{"id":"9b8b34ab.3fde68","type":"serial-port","z":"","serialport":"/dev/tty/USB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"bcafa9aa.75b588","type":"wiotp-credentials","z":"","name":"","org":"chxppd","serverName":"","devType":"Raspberry_Pi","devId":"RaspberryPi","keepalive":"60","cleansession":true,"tls":"","usetls":false}]
